<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Контакты | Музей ПК</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="container">
    <h1>Контакты</h1>
    <p>Связаться с нами: info@pcmuseum.ru</p>
    <a href="/">На главную</a>
  </div>
</body>
</html>