<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Музей ПК</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="container">
        <h1>Добро пожаловать в Музей Персональных Компьютеров!</h1>
        <nav>
            <a href="/exhibits">Экспонаты</a>
            <a href="/about">О музее</a>
        </nav>
        <p>Виртуальный музей, посвящённый истории персональных компьютеров. Здесь вы найдёте информацию о легендарных
            моделях, их особенностях, фотографиях и вкладе в развитие цифрового мира.</p>
            <img src="/images/mainpage-1.jpg" alt="">
    </div>
</body>

</html>